[Unit]
Description=Nojank Web Spring boot application

[Service]
User=$USER
Type=simple
ExecStart=/usr/bin/java -jar /home/${USER}/ctl.jar --spring.profiles.active=prod
SuccessExitStatus=143
EnvironmentFile=/etc/nojank/nojank.conf

[Install]
WantedBy=multi-user.target

